<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    		<property name="hibernate.transaction.auto_close_session">true</property>
			<property name="hibernate.connection.autocommit">false</property>
			<property name="hibernate.current_session_context_class">thread</property>
			<property name="hibernate.hbm2ddl.auto">update</property>
	
        <mapping class="eu.nanocode.gwyddionDB.AfmImage"></mapping>
        <mapping class="eu.nanocode.gwyddionDB.ProjectItem"></mapping>
        <mapping class="eu.nanocode.gwyddionDB.ProjectImageLink"></mapping>
    </session-factory>
</hibernate-configuration>